* {

    color: whitesmoke;
}

body {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: Arial, Helvetica, sans-serif;

    background-color: crimson;
/* 
    & h1 {
        padding: 20px 5px;


    } */

}

header {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50px;

    background-color: firebrick;

    & nav {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;


        width: 100%;
        /* height: 100%; */

        position: fixed;

        background-color: brown;



        & ul {

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

                text-decoration: none;
            & li{

                margin-inline: 10px;

                text-decoration: none;
                list-style-type: none;


                & a{

                    font-weight: 800;
                    text-decoration: none;

                }
            }

        }
    }

}


main{

    & .relative{

        position: relative;

        top: 20px;


    }

    & .absolute{

        display: flex;
        flex-direction: initial;
        align-items: center;
        justify-content: center;

        position: absolute;
        
        bottom: 30px;
        right: 20px;

        width: 50px;
        height: 50px;


        background-color: blue;

        border-radius: 40px;

        &:hover{

            background-color: brown;
        }


        &:active{

            background-color: darkblue;
        }
    }


    & .inputFields{

        position: relative;

        top: 50px;

        & #fName{
            background-color: seagreen;

            border: 5px dashed seagreen;

            border-radius: 0px;

            &:active {
                background-color: red;

            }
        }

    }

    & .lista{

        position: relative;
        top: 70px;


        & h2::before{
            content: '😘';

        }


        & ul{



            & li:nth-child(even){

                list-style-type: none;

                background-color: chartreuse;

            }

        }
    }

}