body{

    box-sizing:  border-box;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 30px;

    width: 100%;
    height: 100vh;

    padding-block: 0px;
    padding-inline: 0px;

    margin-block: 0;
    margin-inline: 0px;

    background-color: rgb(21, 3, 109);

    & section {
        display: flex;
        flex-direction: row;

        justify-content: center;
        align-items: center;
        gap: 10px;

        width: 150px;
        height: 80px;

        padding-block: 15px;
        padding-inline: 30px;

        margin-block: 0;
        margin-inline: 5px;

        border-radius: 20px;

        &:nth-child(1) {

            flex-wrap: nowrap;

            color: #554348;

            background-color: #f16900;

            & p {

                padding-block: 5px;
                padding-inline: 10px;

                margin-block: 0;
                margin-inline: 5px;

                background-color: bisque;

                border-radius: 10px;

            }

        }

        &:nth-child(2) {

            flex-wrap: wrap;

            color: #D4F5F5;

            background-color: #00c8ff;

            & p {

                padding-block: 5px;
                padding-inline: 10px;

                margin-block: 0;
                margin-inline: 5px;

                background-color: rgb(234, 0, 74);

                border-radius: 10px;

            }

        }
    }

}